body {
  font-family: 'Open Sans';
  height: 100%;
}

a {
  text-decoration: none;
}

.banner-section {
  background-image: url('/images/banner-photo.jpg');
  background-size: 100% 100%;
  height: 100vh;
}

.banner-section > a, a:link, a:visited {
  color: #ffffff !important;
}

.navbar-photo {
  width: 100px;
  height: 100px;
  margin-left: 150px;
}

#navbarNav {
  margin-top: 80px;
  margin-right: 100px;
}

.banner-description {
  margin: 80px 0 80px 0;
  padding: 25px;
  text-align: center;
}

.banner-description > p {
  font-size: 50px;
  color: #ffffff !important;
}

.banner-button {
  border-radius: 39px;
  color: #c4c5ce;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: solid;
  border-width: 0px;
  box-shadow: none;
}

.service-section {
  background-color: #ffffff;
  padding: 50px;
}

.service-description {
  text-align: left;
  padding: 25px;
}

.service-gallery {
  padding: 25px;
}

.description-header {
  font-size: 35px;
  font-weight: bold;
  color: #3e435f;
  margin: 0px 0px 35px 15px;
}

.description-main {
  font-size: 18px;
  color: #3e435f;
  margin: 0px 0px 35px 15px;
}

.service-button, .submit-form > button {
  -webkit-border-radius: 39;
  -moz-border-radius: 39;
  border-radius: 39px;
  color: #ffffff;
  font-size: 20px;
  background: #545871;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: solid;
  border-width: 0px;
  box-shadow: none;
}

.gallery-image {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.appointment-section {
  padding: 0px;
}

.inclusion-list {
  text-align: left;
  /* background-image: url('/images/inclusion_list.jpg');
  background-size: 100% 100%; */
  background-color: #535973;
  height: 800px;
}

.inclusion-logo {
  color: #ffffff;
  font-size: 18px;
}

div:has(> .inclusion-logo) {
  padding: 30px 0 50px 0;
}

.inclusion-bullets {
  text-align: left;
  margin-left: 50px;
  padding-left: 100px;
}

.inclusion-bullets > b {
  margin: 50px 0px 25px 0px !important;
  color: #ffffff;
  font-size: 25px;
  padding-bottom: 40px;
}

.inclusion-bullets > ul {
  padding-left: 0;
  color: #ffffff;
  margin-top: 25px;
}

.inclusion-bullets > ul > li {
  list-style-position: inside;
  padding-bottom: 30px;
  font-size: 18px;
}

.appointment-form {
  background-color: #f7eceb;
  color: #3c425f;
  padding: 40px 50px 0 70px;
  height: 800px;
}

.appointment-form > .row {
  margin-bottom: 30px;
}

.form-header-text {
  font-size: 45px;
}

div:has(> .form-header-text) {
  padding-bottom: 35px;
}

.frequency-selection {
  background-color: #ffffff;
  padding: 10px;
  width: 90%;
}

.start-date {
  background-color: white;
  padding: 15px;
  width: 90%;
  height: 60%;
}

.frequency-selection label {
  display: inline-block;
  width: 50%;
  padding: 10px;
  transition: all 0.3s;
}

.frequency-selection input[type="radio"] {
  display: none;
}

.frequency-selection input[type="radio"]:checked + label {
  background-color: #e9cfcd;
  position: relative;
  display: inline-block;
}

.days-selection {
  background-color: #ffffff;
  width: 95%;
  text-align: center;
}

.days-selection label {
  display: inline-block;
  width: 14.28%;
  padding: 10px;
  transition: all 0.3s;
}

.days-selection input[type="checkbox"] {
  display: none;
}

.days-selection input[type="checkbox"]:checked + label {
  background-color: #e9cfcd;
  position: relative;
  display: inline-block;
}

.time-selection {
  background-color: #ffffff;
  width: 95%;
  text-align: center;
}

.time-selection label {
  width: 33.3%;
  padding: 10px;
  transition: all 0.3s;
}

.time-selection input[type="checkbox"] {
  display: none;
}

.time-selection input[type="checkbox"]:checked + label {
  background-color: #e9cfcd;
  position: relative;
  display: inline-block;
}

.date-style, .date-style::placeholder, .date-style:focus {
  width: 100%;
  color: #f3e4e4;
  border: none;
  outline: none;
  font-size: 22px;
}

.sub-texts {
  font-size: 20px;
  font-weight: lighter;
}

.sitter_notes {
  width: 95%;
  background-color: #ffffff;
}

.sitter_notes > textarea, textarea:focus {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.sitter_notes > textarea::placeholder {
  color: #e9cfcd;
}

.submit-form {
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-photo {
    width: 100px;
    height: 100px;
    margin-left: 5px
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
  
  #navbarNav {
    margin-top: 0px;
    margin-right: 5px;
  }

  .banner-description > p {
    font-size: 35px;
    color: #ffffff !important;
  }
  
  .banner-button {
    border-radius: 39px;
    color: #c4c5ce;
    font-size: 15px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .description-header {
    font-size: 25px;
    font-weight: bold;
    color: #3e435f;
    margin: 0px 0px 35px 15px;
  }
  
  .description-main {
    font-size: 16px;
    color: #3e435f;
    margin: 0px 0px 35px 15px;
  }
  
  .service-button, .submit-form > button {
    -webkit-border-radius: 39;
    -moz-border-radius: 39;
    border-radius: 39px;
    color: #ffffff;
    font-size: 15px;
    background: #545871;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  div:has(> .inclusion-logo) {
    padding-left: 50px;
  }

  .inclusion-bullets {
    padding-left: 0;
  }

  .form-header-text {
    font-size: 22px;
  }
  
  .days-selection label {
    font-size: 12px;
  }

  .time-selection label {
    font-size: 12px;
  }

  .sitter_notes > textarea, textarea:focus, textarea::placeholder {
    font-size: 12px;
  }

  .inclusion-list {
    height: 500px;
  }
  
  .appointment-form {
    height: 925px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .navbar-photo {
    width: 100px;
    height: 100px;
    margin-left: 15px
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
  
  #navbarNav {
    margin-top: 0px;
    margin-right: 15px;
  }

  div:has(> .inclusion-logo) {
    padding-left: 120px;
  }

  .form-header-text {
    font-size: 35px;
  }

  .inclusion-list {
    height: 500px;
  }
  
  .appointment-form {
    height: 850px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar-photo {
    width: 100px;
    height: 100px;
    margin-left: 15px
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
  
  #navbarNav {
    margin-top: 0px;
    margin-right: 15px;
  }

  div:has(> .inclusion-logo) {
    padding-left: 90px;
  }

  .inclusion-bullets {
    padding-left: 50px;
  }

  .form-header-text {
    font-size: 35px;
  }

  .inclusion-list {
    height: 900px;
  }
  
  .appointment-form {
    height: 900px;
  }
}
